@{
    ViewData["Title"] = "ホーム";
}

<div class="row">
    <div class="col-12">
        <div class="jumbotron bg-primary text-white p-5 rounded mb-4">
            <h1 class="display-4">Azure インフラ詳細設計書作成ツール</h1>
            <p class="lead">Azureインフラ開発における詳細設計書を効率的に作成するWebアプリケーションです。</p>
            
            @if (User.Identity?.IsAuthenticated != true)
            {
                <hr class="my-4">
                <p>まずはアカウントを作成してご利用ください。</p>
                <a class="btn btn-light btn-lg" asp-controller="Account" asp-action="Register" role="button">今すぐ始める</a>
            }
        </div>
    </div>
</div>

@if (User.Identity?.IsAuthenticated == true)
{
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">プロジェクト管理</h5>
                    <p class="card-text">新しいプロジェクトを作成したり、既存のプロジェクトを管理できます。</p>
                    <a href="#" class="btn btn-primary">プロジェクト一覧</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">テンプレート管理</h5>
                    <p class="card-text">再利用可能なテンプレートを作成・管理できます。</p>
                    <a href="#" class="btn btn-primary">テンプレート一覧</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">設計書作成</h5>
                    <p class="card-text">ビジュアルエディタを使って設計書を作成できます。</p>
                    <a href="#" class="btn btn-primary">新規作成</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">プロフィール</h5>
                    <p class="card-text">アカウント情報の確認・変更を行えます。</p>
                    <a asp-controller="Profile" asp-action="Index" class="btn btn-outline-primary">プロフィール設定</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <h3>主な機能</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">✓ ビジュアル設計インターフェース</li>
                <li class="list-group-item">✓ テンプレート管理機能</li>
                <li class="list-group-item">✓ プロジェクト・環境管理</li>
                <li class="list-group-item">✓ 命名規則管理</li>
                <li class="list-group-item">✓ 承認ワークフロー</li>
                <li class="list-group-item">✓ 設計書出力（Excel/PDF/Markdown）</li>
            </ul>
        </div>
        
        <div class="col-md-6">
            <h3>ご利用開始方法</h3>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">アカウントを作成</li>
                <li class="list-group-item">プロジェクトを作成</li>
                <li class="list-group-item">環境を定義</li>
                <li class="list-group-item">ビジュアルエディタで設計</li>
                <li class="list-group-item">設計書を出力</li>
            </ol>
        </div>
    </div>
}